<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>遊戲商品資料</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/item_fetch.css">
</head>
<body>

<!-- --------------------導覽列面版(start)-----------------	 -->
<div id="navBar">
    <!-- 將部門資料放入選單中 -->
    <select id='deptnoOptions'>
    </select>

    <button id="btnShowEmpPanel" type="button" class="showAll">查詢所有遊戲</button>
</div>
<!-- --------------------遊戲清單面版(start)-----------------	 -->
<table id="empsTable" align="center" width="1000">
    <thead>
    <tr>
        <th>商品編號</th>
        <th>類別編號</th>
        <th>名稱</th>
        <th>單價</th>
        <th>上架狀態</th>
        <th>庫存量</th>
        <th>遊玩人數</th>
        <th>時間</th>
        <th>敘述</th>
        <th><button witth="100%";>新增</button></th>
    </tr>
    </thead>
    <tbody id="showPanel">

    </tbody>
</table>

<script src="js/item_fetch.js"></script>
</body>
</html>