<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        #range_bar{
            width: 100%;
            height: 72px;
            border: 1px solid blue;
            color: lightgrey;
            position: fixed;
            bottom: 0%;
            margin: 0%;
        }
        #bid_value{
            width: 50%;
        }

    </style>
</head>
<body>
<textarea name="" id="" cols="30" rows="10" readonly></textarea>
<div id="range_bar">
<input id="bid_value" type="range" min="0" max="500" step="50">

</div>
</body>
</html>